body {
    background-color: var(--noir);
}

img {
    max-width: 100%;
}

p {
    font-family: var(--helvetica);
}


h1,
h2,
h3,
h4,
h5 {
    all: unset;
    font-family: var(--Cassia);
    color: var(--beige);
}