button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button p {
    color: var(--beige);
}

input,
textarea {
    color: var(--noir);
    background-color: var(--noir);
    cursor: pointer;
    outline: inherit;
}

textarea::placeholder {
    color: var(--beige);
    font-family: var(--Helveticaregular);
    background-color: var(--noir);
}

textarea::placeholder::after {
    color: var(--beige);
    font-family: var(--Helveticaregular);
    background-color: var(--noir);
}

input::placeholder {
    color: var(--beige);
    font-family: var(--Helveticaregular);
    background-color: var(--noir);
}

input,
textarea {
    text-decoration-line: none;
    color: var(--beige);
}


.contact-titre {
    font-size: 30px;
}

.contact-soustitre {
    font-size: 18px;
}

.contact-parent {
    display: flex;
    flex-direction: column;
    padding-left: 46px;
    padding-right: 46px;
}

.contact-textarea {
    min-height: 228px;
}

.contact-nom,
.contact-mail,
.contact-objet,
.contact-textarea {
    margin-top: 30px;
    border: 2px solid var(--beige);
    border-radius: 10px;
    padding: 5px;
}

.contact-nom {
    position: relative;
}

.contact-button-placement {
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-end;
}