.index-chapo {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color: var(--beige);
    line-height: 31px;
}

.index-bouton-placement {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    padding-right: 60px;
}

.index-bandeau-polygon {
    position: relative;
}

.index-bandeau-polygon::after {
    content: url(../../../public/svg/Polygon1.svg);
    margin-left: -30px;
    margin-top: -30px;

}

.index-bandeau {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.index-bandeau-image {
    grid-area: 1 / 1 / 4 / 4;
}

.index-bandeau-image img {

    width: 100%;
}

.index-bandeau-titre {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-bandeau-titre h2 {
    color: var(--noir);
    font-family: var(--Helvetica);
    font-size: 20px;
    font-weight: bold;
}

.index-bandeau-triangles {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}