.index-chapo {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color: var(--beige);
    line-height: 31px;
}

.index-bouton-placement {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    padding-right: 60px;
}