.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--noir);
    display: grid;
    place-content: center;
    z-index: 20;
}

.menu h2 {
    font-size: 45px;
    font-family: var(--Cassia);
}

.header__menuBtn {
    position: relative;
    z-index: 30;
}