footer {
    width: 100%;
}

footer img {
    width: 100%;
}

.footer-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    bottom: 0;
}

.footer-svg-fond {
    grid-area: 1 / 1 / 4 / 4;
}

.footer-titre {
    grid-area: 1 / 1 / 2 / 3;
    padding: 20px;
    margin-top: 25px;
}

.footer-titre h3 {
    color: var(--noir);
    font-family: var(--Cassia);
    font-size: 25px;

}

.footer-nom {
    grid-area: 3 / 2 / 4 / 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.footer-nom p {

    font-family: var(--Helvetica);
    font-size: 12px;
}

.footer-contact {
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;

}

.footer-contact p {
    margin-block-start: 5px;
    margin-block-end: 5px;
    font-family: var(--Helvetica);
    font-weight: lighter;
}